<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{registration.title} + ' | River Bank'">Sign up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/static/css/bootstrap.min.css">
</head>
<body>

<div th:insert="header :: header"></div>

<div class="container text-center mt-5" style="max-width: 300px">
    <form method="post" th:action="@{/auth/registration}" th:object="${user}">

        <label for="email" class="form-label text-start col-12" th:text="#{registration.email} + ': '">Email: </label>
        <input type="text" class="form-control" th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
               name="email" id="email" placeholder="email@example.com">
        <div class="invalid-feedback text-start" th:errors="*{email}"></div>

        <label for="name" class="form-label text-start col-12 mt-2" th:text="#{registration.name} + ': '">Name: </label>
        <input type="text" class="form-control" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
               name="name" id="name" th:placeholder="#{registration.name.placeholder}">
        <div class="invalid-feedback text-start" th:errors="*{name}"></div>

        <label for="password" class="form-label text-start col-12 mt-2" th:text="#{registration.password} + ': '">Password: </label>
        <input type="password" class="form-control" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
               name="password" id="password" placeholder="********">
        <div class="invalid-feedback text-start" th:errors="*{password}"></div>

        <label for="matchingPassword" class="form-label text-start col-12 mt-2"
               th:text="#{registration.confirm_password} + ': '">Confirm password: </label>
        <input type="password" class="form-control" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
               name="matchingPassword" id="matchingPassword" placeholder="********">
        <div class="invalid-feedback text-start" th:errors="*{matchingPassword}"></div>

        <button type="submit" class="btn btn-success my-2" th:text="#{registration.sign_up}">Sign up</button>
    </form>

    <span data-th-text="#{registration.already}">Already have an account?</span> <a th:href="@{/auth/login}"
                                                                                    th:text="#{login.sign_in}">Sign
    in</a>
</div>

<div th:insert="footer :: footer"></div>

<script th:src="@{/js/bootstrap.bundle.min.js}" src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>