<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{account.title} + ' ' + ${account.number} +  ' | River Bank'">Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/static/css/bootstrap.min.css">
</head>
<body>

<div th:insert="header :: header"></div>

<div class="container mt-5 border rounded">
    <div class="border-bottom my-1">
        <h3>
            <span th:text="#{account.title} + ' '"></span>
            <span th:text="${#numbers.formatInteger(account.getNumber(), 6)}"></span>
        </h3>
        <h5>
            <span th:text="#{account.balance} + ': '"></span>
            <span th:text="${#numbers.formatInteger(account.amount, 0, 'COMMA')}"></span>
        </h5>
    </div>

    <span class="display-6" th:text="#{account.operations}">Operations</span>

    <div class="my-2">
        <form method="post" th:action="@{/deposit}">
            <input type="hidden" name="accountNumber" th:value="${account.number}">
            <label>
                <input class="form-control" type="number" name="amount" th:placeholder="#{account.amount}" min="0"
                       max="100000">
            </label>
            <button type="submit" class="btn btn-success my-1" th:text="#{account.deposit}">Deposit</button>
        </form>

        <form method="post" th:action="@{/withdraw}">
            <input type="hidden" name="accountNumber" th:value="${account.number}">
            <label>
                <input class="form-control" type="number" name="amount" th:placeholder="#{account.amount}" min="0"
                       max="100000">
            </label>
            <button type="submit" class="btn btn-warning my-1" th:text="#{account.withdraw}">Withdraw</button>
        </form>

        <div th:if="${error}" class="alert alert-danger mt-2 w-25" role="alert" th:text="${error.message}"></div>
    </div>

    <div class="py-2 border-top">
        <a class="btn btn-primary my-1" th:href="@{/transfer(num=${account.number})}" th:text="#{account.transfer}">
            Make a transfer</a>

        <a class="btn btn-info text-white my-1" th:href="@{/accounts/{num}/operations(num=${account.number})}"
           th:text="#{account.operations_history}">Operations history</a>

        <button class="btn btn-danger my-1" type="button" data-bs-toggle="modal" data-bs-target="#deleteConfirmation"
                th:text="#{account.delete}">Delete
        </button>

        <div class="modal fade" id="deleteConfirmation" data-bs-backdrop="static" tabindex="-1"
             aria-labelledby="deleteConfirmLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteConfirmLabel" th:text="#{account.modal.title}">Are you
                            sure?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" th:utext="#{account.modal.body}">
                        Are you sure you want to delete an account?<br>
                        To delete an account, it's balance must be 0.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                th:text="#{account.modal.cancel}">Cancel
                        </button>
                        <form th:method="delete" th:action="@{/accounts/{num}(num=${account.number})}">
                            <button type="submit" class="btn btn-danger" th:disabled="${account.amount != 0}"
                                    th:text="#{account.delete}">Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-3">
    <a class="btn btn-secondary" href="/profile" th:text="#{util.go_back}">Go back</a>
</div>

<div th:insert="footer :: footer"></div>

<script th:src="@{/js/bootstrap.bundle.min.js}" src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>