<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/static/css/bootstrap.min.css">
</head>
<body>

<header th:insert="header :: header"></header>

<div class="container mt-5 border rounded">
    <div class="border-bottom my-1">
        <h3 th:text="'Account ' + ${#numbers.formatInteger(account.getNumber(), 6)}"></h3>
        <h5 th:text="|Balance: ${#numbers.formatInteger(account.amount, 0, 'COMMA')} ${account.currency}|"></h5>
    </div>

    <span class="display-6">Operations</span>

    <div class="my-2">
        <form method="post" th:action="@{/deposit}">
            <input type="hidden" name="accountNumber" th:value="${account.number}">
            <label>
                <input class="form-control" type="number" name="amount" placeholder="Amount" min="0" max="100000">
            </label>
            <button type="submit" class="btn btn-success">Deposit</button>
        </form>

        <form method="post" th:action="@{/withdraw}">
            <input type="hidden" name="accountNumber" th:value="${account.number}">
            <label>
                <input class="form-control" type="number" name="amount" placeholder="Amount" min="0" max="100000">
            </label>
            <button type="submit" class="btn btn-warning">Withdraw</button>
        </form>

        <div th:if="${error}" class="alert alert-danger mt-2 w-25" role="alert" th:text="${error.message}"></div>
    </div>

    <div class="py-2 border-top">
        <a class="btn btn-primary" th:href="@{/transfer(num=${account.number})}">
            Make a transfer
        </a>

        <a class="btn btn-info text-white" th:href="@{/accounts/{num}/operations(num=${account.number})}">
            Operations history
        </a>

        <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteConfirmation">
            Delete
        </button>

        <div class="modal fade" id="deleteConfirmation" data-bs-backdrop="static" tabindex="-1"
             aria-labelledby="deleteConfirmLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteConfirmLabel">Are you sure?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete account <span th:text="${account.number}"></span>?<br> To delete
                        an account, it's balance must be 0.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form th:method="delete" th:action="@{/accounts/{num}(num=${account.number})}">
                            <button type="submit" class="btn btn-danger" th:disabled="${account.amount != 0}">Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-3">
    <a class="btn btn-secondary" href="/profile">Go back</a>
</div>


<script th:src="@{/js/bootstrap.bundle.min.js}" src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>