<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transfer</title>
    <style>
        form {display: table}
        p {display: table-row}
        label {display: table-cell}
        input {display: table-cell}
    </style>
</head>
<body>

<a th:href="@{/accounts/{num}(num=${senderNumber})}"><<< Go back</a>

<h3>Make a transfer</h3>

<form method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <p>
        <label for="senderNumber">Sender </label>
        <input name="senderNumber" id="senderNumber" th:value="${senderNumber}" readonly>
    </p>
    <p>
        <label for="recipientNumber">Recipient </label>
        <input name="recipientNumber" id="recipientNumber" type="text">
    </p>
    <p>
        <label for="amount">Amount </label>
        <input name="amount" id="amount" type="number" min="0" max="100000">
    </p>
    <br/>

    <button type="submit">Transfer</button>
</form>
<br/>

<p th:if="${error}" style="color: red" th:text="${error.message}">Exception here</p>

</body>
</html>